.top {
    display: flex;
    justify-content: space-around;
    padding: 1% 0;
    background-color: #5CCCCC;
}

.top>li {
    list-style: none;
    color: aliceblue;
    transition: all 0.2s ease-in-out;
    font-size: 18px;
}

.top>li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    height: 36px;
    border-radius: 10px;
    background-color: rgb(0, 255, 153);
    font-size: 12px;
    color: #006363;
}

.left_btn,
.right_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border: 0.3px solid rgba(0, 0, 0, 0.2);
}

.left_btn {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right_btn {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    line-height: 0.6;
    align-self: center;
}

.right_btn :first-child {
    font-size: 18px;
    font-weight: bold;
}