.bottom {
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(255, 165, 119);
    padding: 20px;
}

.bottom > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 5px;
    color: rgb(137, 110, 105);
    font-weight: 900;
    font-size: 18px;
}

.bottom li span:first-child {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(213, 84, 72);
    border-radius: 50%;
    padding: 20px;
}
