.bottom {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rgba(51, 204, 204, 0.3);
    border-bottom: 1px solid rgba(51, 204, 204, 0.3);
    padding: 10px;
}

.bottom > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 5px;
    color: #009999;
    font-weight: 900;
    font-size: 18px;
}

.bottom li span:first-child {
    width: 50px;
    height: 50px;
    border: 1px solid #9FEE00;
    border-radius: 50%;
    padding: 20px;
}
