.wrap {
    position: relative;
    width: 200px;
    height: fit-content;
}

.wrap>input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
}

.search_icon {
    position: absolute;
    top: 13%;
    right: 0;
    opacity: 0.3;
}